@import "../../styles/variables";

$approximate-icon-width: 60px;

.homepageContainer {
  margin-bottom: 30px;
  max-width: $lg;
}

.topRow {
  display: flex;
  align-items: center;
  width: calc(100% - #{$approximate-icon-width});
  margin: 40px $approximate-icon-width 40px 0;
}

.pageHeading {
  padding-top: 1rem;
}

.subHeading {
  padding-top: 1rem;
}

.checklist {
  margin-top: 1rem;
}

.search {
  margin-top: 1rem;
}
