.recipeCard {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.mealImage {
  width: 100%;
}

.ingredientsListHeading {
  margin-top: 20px;
}

.info {
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.extraInfo {
  margin-top: auto;
}

.fullRecipeBtn {
  margin: 20px 0 40px;
}

.dt {
  font-weight: 600;
}
