.cardImage {
  width: 100%;
}

.gridItem {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardContent {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 5px 15px 5px 5px;
  margin-bottom: 30px;
}

.label {
  max-height: 72px;
  overflow: hidden;
}

.dt {
  font-weight: 600;
}

.buttons {
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.externalUrl {
  padding-left: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}