@import "../../styles/variables";

$approximate-icon-width: 60px;

.topRow {
  display: flex;
  align-items: center;
  width: calc(100% - #{$approximate-icon-width} / 2);
  margin: 40px 0;

  @media (min-width: #{$md}) {
    width: calc(100% - #{$approximate-icon-width});
  }
}

.headingContainer {
  margin: auto 20px;
}

.heading {
  font-size: 2rem !important;
  @media (min-width: #{$sm}) {
    font-size: 2.25rem !important;
  }
  @media (min-width: #{$md}) {
    font-size: 2.375rem !important;
  }
  @media (min-width: #{$lg}) {
    font-size: 2.75rem !important;
  }
}
