@import "../../styles/variables";

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0.4rem;
  padding-left: 0.6rem;
  background: #eee;
  border-bottom: 1px ridge #ddd;
}

.heading {
  padding-left: 1rem;
  font-style: italic;
}