@import "../../styles/variables";

$image-height: 300px;

.rundown {
  align-items: center;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: $image-height / 2;
  max-width: 768px;
  padding: 0 16px;
  width: 98%;
}

.image {
  border-radius: 50%;
  height: $image-height;
  width: $image-height;
  margin-top: -($image-height / 2);
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 20px;
  margin: 10px;
  @media (min-width: #{$sm}) {
    grid-template-columns: 1fr 1fr;
  }
}

.externalRecipe {
  margin-top: 16px;
}